# Ignore all files by default
*

# Allow specific file types
!*.py
!*.md
!*.txt
!*.bat
!.gitignore
!LICENSE

# Ignore error_log.txt
error_log.txt
# Ignore pycache
__pycache__/
*.pyc

# Ignore virtual environment
venv/
